# Startup Config
API_ID = "13050924"
API_HASH = "fe442e491c1841a12daeb6754d133739"
BOT_TOKEN = "6140001085:AAGYF67tawQfXinRaBnvK5wzq7U0qGfWpWY"
AUTH_CHANNEL = "-1001916624657"
SESSION_STRING = "BQDHJCwAoOXhkvRL730JzcjJxlLfNUY_hgOHoEu-4ZAZwAFpplp6Dcszb8R7TQ8jFd-MpDGHeous5HTnK8i6HEiuAkA_LMzZkxjaGs0s-w-67wqAZKU2o6OEaToho1BJ7JP37KIrw-snvd9EgXREk_IgITMZJmldOy6njoWu1I4Mz2HFW6yuYhl803k7JHA0YZtA2MXU8gbD2RJIETOhs92wisv6fX8-W3mA1HCe-r7AfHc-26hliPGfYXeJwbxc1_KH4sAcE-S7qjUHQU_3uacoBOnth5aoQ3bSgeuR89c65PUZ8_k0maxgj5sLHj5uRGTPyveZKPlwmyaU8U9LzimYeVgW4AAAAAFt-Ps9AQ"

# Additional CDN Bots
# MULTI_TOKEN1 = ""
# MULTI_TOKEN2 = "" (upto 50)

# Web Config
BASE_URL = ""
PORT = "8080"

# Login Details
USERNAME = "admin" 
PASSWORD = "admin"

SLEEP_THRESHOLD = "60" #Reduce FloodWait
WORKERS = "100"
THEME = "flatly"
