# Startup Config
API_ID = "13050924"
API_HASH = "fe442e491c1841a12daeb6754d133739"
BOT_TOKEN = "6140001085:AAGYF67tawQfXinRaBnvK5wzq7U0qGfWpWY"
AUTH_CHANNEL = ""
SESSION_STRING = ""

# Additional CDN Bots
# MULTI_TOKEN1 = ""
# MULTI_TOKEN2 = "" (upto 50)

# Web Config
BASE_URL = ""
PORT = "8080"

# Login Details
USERNAME = "admin" 
PASSWORD = "admin"

SLEEP_THRESHOLD = "60" #Reduce FloodWait
WORKERS = "100"
THEME = "flatly"
